*{font-family: 'Poppins', sans-serif;}
a{
    text-decoration: none;
}
.container {
    width: 816px;
    height: 542px;
    background: #F7F7F7;
box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.25);
border-radius: 10px;
text-align: center;
}
h1{
    margin-top: 53px;
    margin-bottom: 14px;
font-size: 40px;
line-height: 60px;
color: #000000;
}
p{
     max-width:380px;
    margin:0 auto;
   font-size: 24px;
line-height: 36px;
color: #000000;
margin-bottom: 38px;
}
.button{
padding: 13px 27px;
display: inline-block;
background: linear-gradient(270deg, #0075FF 3.87%, #00B2FF 127.1%);
box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
border-radius: 5px;
font-size: 13px;
line-height: 20px;
color: #FFFFFF;
margin-bottom: 48px;
}
.social{
    display: flex;
    justify-content: center;
    gap: 53px;
}